{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block imgnav %}
     <!-- Background image -->
     <div
     class="p-5 text-center bg-image"
     style="
       background-image: url('https://pixabay.com/photos/people-man-hand-wrist-watch-time-2564955');
       height: 400px;
       margin-top: 58px;
     "
   >
     <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
       <div class="d-flex justify-content-center align-items-center h-100">
         <div class="text-white">
           <h1 class="mb-3">SAMAY-SAARANEE</h1>
           <h4 class="mb-3">Web Based Time-Table Generating System</h4>
           <a class="btn btn-outline-light btn-lg" href="#!" role="button"
           >Click to contiue</a
           >
         </div>
       </div>
     </div>
   </div>
{% endblock imgnav %}
{% block body %}
{% endblock body %}
